.login {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../public/images/login.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-box {
    width: 410px;
    background: linear-gradient(180deg, #000000 -56.64%, #3e3e3e 121.82%);
    padding: 15px;
    border-radius: 10px;
    text-align: justify;

    .password-validation {
      font-size: 14px;
      color: red;
      display: block;
      text-align: justify;
    }

    .img-container {
      height: 80px;
      width: 120px;
      margin-bottom: 10px;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    h4 {
      font-size: 30px;
      font-weight: 700;
      color: #01f801;
      border-bottom: 2px solid #fff;
      margin: 20px 0;
      line-height: 40px;
    }

    label {
      font-size: 16px;
      font-weight: 400;

      &::after {
        content: "*";
        color: #01f801;
        margin-left: 4px;
        font-size: 20px;
      }
    }

    input {
      background: transparent !important;
      border: 1px solid #d5d5d7;
      width: 100%;
      padding: 8px 10px;
      border-radius: 7px;
      color: #fff;

      &::placeholder {
        color: #999;
      }


    }



    .login-btn {
      background-color: #01f801;
      border: none;
      width: 100%;
      border-radius: 5px;
      padding: 10px;
      font-size: 18px;
      font-weight: 600;
      margin: 14px 0;
    }


    .divider {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;

      .sign-in-with {
        width: 100%;
        text-align: center;
      }

      div.line {
        width: 100%;
        border: 1px solid #fff;

      }
    }

    .social-signin {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      padding: 10px 0;
      margin: 10px 0;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        color: #000000;
        border: none;
        box-shadow: 0px 8px 28px 0px rgba(72, 89, 102, 0.1);
        padding: 15px 35px;
        border-radius: 10px;
        // width: 100%;
        font-size: 16px;
        font-weight: 700;

        svg {
          height: 100%;
          font-size: 20px;
          // margin-left: 10px;
        }
      }
    }

    .bottom-text {
      a {
        font-size: 16px;
        font-weight: 700;
        color: #01f801 !important;
        margin-left: 3px;
      }
    }

    .password-div {
      position: relative;

      svg {
        position: absolute;
        top: 12px;
        right: 15px;
        cursor: pointer;
        font-size: 18px;
        color: #01f801;
      }
    }

  }
}



